<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilena.service.dao.CoinsMapper">

    <insert id="addCoins">
        insert into video_coins(id,video_id, user_id, created_time)
        values(#{id},#{videoId}, #{userId}, #{createdTime})
    </insert>
    <delete id="deleteCoins">
        delete from video_coins where video_id = #{videoId} and user_id = #{userId}
    </delete>
    <select id="getVideoCoins" resultType="java.lang.Long">
        select video_id from video_coins where user_id = #{userId} limit 10
    </select>
    <select id="isCoins" resultType="com.yilena.service.entity.po.VideoCoins">
        select * from video_coins where video_id = #{videoId} and user_id = #{userId}
    </select>

</mapper>
