<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilena.service.dao.LikeMapper">

    <insert id="doLike">
        insert into likes(id,entity_id,entity_type,user_id,created_time)
        values(#{id},#{entityId},#{entityType},#{userId},#{createdTime})
    </insert>
    <delete id="undoLike">
        delete from likes where entity_id = #{entityId} and entity_type = #{entityType} and user_id = #{userId}
    </delete>
    <select id="isLike" resultType="com.yilena.service.entity.po.Like">
        select * from likes where entity_id = #{entityId} and entity_type = #{entityType} and user_id = #{userId}
    </select>
    <select id="getTotalLike" resultType="java.lang.Long">
        select count(id) from likes
    </select>

</mapper>
