<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilena.service.dao.ManagerMapper">
    <update id="updateStatus">
        update manager
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            updated_time = now()
        </set>
        where id = #{id}
    </update>

    <select id="getByUsername" resultType="com.yilena.service.entity.po.Manager">
        select id, username, password, status, created_time as createdTime, updated_time as updatedTime
        from manager where username = #{username}
    </select>
</mapper>
