<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilena.service.dao.UserLogMapper">

    <insert id="addLog">
        insert into log_user(id, operateUserId,className, methodName, methodParams, returnValue, costTime, operateTime)
        values (#{id}, #{operateUserId}, #{className}, #{methodName}, #{methodParams}, #{returnValue}, #{costTime}, #{operateTime})
    </insert>
    <delete id="deleteLogsBeforeHalfYear">
        delete from log_user where operateTime &lt; DATE_SUB(NOW(), INTERVAL 6 MONTH)
    </delete>
    <select id="getLogByPage" resultType="com.yilena.service.entity.po.Log">
        select * from log_user
        <where>
            <if test="beginTime != null">
                and operateTime &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and operateTime &lt;= #{endTime}
            </if>
        </where>
    </select>
</mapper>
