<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilena.service.dao.UserLogMapper">

    <insert id="addLog">
        insert into log_user(id, operateUserId,className, methodName, methodParams, returnValue, costTime, operateTime)
        values (#{id}, #{operateUserId}, #{className}, #{methodName}, #{methodParams}, #{returnValue}, #{costTime}, #{operateTime})
    </insert>
</mapper>
