<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilena.service.dao.VideoCollectionMapper">


    <insert id="addVideoCollection">
        INSERT INTO video_collection(id,title,user_id,video_ids,is_default,created_time,updated_time,visibility)
        VALUES (#{id},#{title},#{userId},#{videoIdsJson},#{isDefault},#{createdTime},#{updatedTime},#{visibility})
    </insert>
    <update id="updateVideoCollection">
        UPDATE video_collection
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="videoIdsJson != null">
                video_ids = #{videoIdsJson},
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault},
            </if>
            <if test="visibility != null">
                visibility = #{visibility},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
            <if test="visibility != null">
                visibility = #{visibility},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteVideoCollection">
        DELETE FROM video_collection
        WHERE id = #{id}
    </delete>
    <select id="getVideoCollectionByList" resultType="com.yilena.service.entity.po.VideoCollection">
        SELECT id,title,user_id as userId,video_ids as videoIdsJson,
               is_default as isDefault,created_time as createdTime,updated_time as updatedTime,visibility
        FROM video_collection
        where user_id = #{userId}
    </select>
    <select id="getVideoCollectionById" resultType="com.yilena.service.entity.po.VideoCollection">
        SELECT id,title,user_id as userId,video_ids as videoIdsJson,
               is_default as isDefault,created_time as createdTime,updated_time as updatedTime,visibility
        FROM video_collection
        where id = #{id}
    </select>
</mapper>
